

<div class="row">
  {{#each posts as |post|}}
    <div class="col-11 mx-auto my-2">
      {{> post-info post }}
    </div>
{{else}}
<h6 class="pb-4 has-text-centered is-italic">No posts have been submitted. Be the first user to submit a post</h6>
{{/each}}
</div>