<div class="row">
  <div class="col-11 mx-auto my-2 mb-0">
    {{> post-info post }}
  </div>
  <div class="col-11 mx-auto mb-0 my-0">
    {{#if loggedIn}}
      <form class="new-post-form comment-form input-group px-0">
        <textarea class="form-control" name="comment-body" rows="3"></textarea>
        <button type="submit" class="btn btn-outline-success">Add comment</button>
{{!-- 
       <div clss="card-body">
         {{#each post.Comment}}
         <div>
           <p>
             {{body}}
           </p>
         </div>
         {{/each}}
       </div>  --}}
      </form>
    {{/if}}
  </div>
  <div class="col-11 mx-auto my-2">
    <div class="list-group">
      {{> comments post.comments }}
    </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} 