<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app title"><a href="/"> The Tech Blog</a></h1>
  </header>
    <main class="col-auto">
      {{{ body }}}
    </main>
    
 {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
    <footer class="flex-row justify-center">
      &copy; The Tech Blog Team
    </footer>
</body>


<script src="/javascript/logout.js"></script>
  <script src="/javascript/jquery-3.5.1.slim.min.js"></script>
  <script src="/javascript/popper.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
</html>
  {{!-- <div class="container-fluid">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-2">
        <h3> 
          <a class="navbar-brand text-white" href="/">The Tech Blog</a>
        </h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {{#if loggedIn}}
            <li class="nav-item mr-2">
              <a class="nav-link text-white" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link btn btn-success text-white  my-2 my-sm-0" role="button" href="/dashboard/create-post">New post</a>
            </li>
            <li class="nav-item">
              <button id="logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link btn btn-primary text-white my-2 my-sm-0" role="button" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="/javascript/jquery-3.5.1.slim.min.js"></script>
  <script src="/javascript/popper.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
</body> --}}

</html>